
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crear Autor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Crear Autor</h2>
  <form th:action="@{/library/crear_autor" th:object = "${author}" >
    <div class="form-group">
         <input class="form-control" id="name" placeholder="Nombre" required th:field="*{name}" type="text"/>
      <label for="name">Nombre:</label>
      <input type="name" class="Author"  placeholder="Ingrese nombre" name="name">
    </div>
   
    <button type="submit" class="btn btn-default">Crear</button>
  </form>
</div>

</body>
</html>